@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h2>Список ролей</h2>
<table  class="table table-bordered table-striped">
    @foreach (var role in Model)
    {
        <tr>
            <td>

                <a class="nav-link text-dark" asp-action="UserListByRole" asp-route-id="@role.Id">
                    @role.Name
                </a>

            </td>
            <td>
                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<a asp-action="Create" class="btn btn-success">Добавить роль</a>
<a asp-action="UserList" class="btn btn-success" >Список пользователей</a>