@model TaskManager.Models.AppendixViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Создание Примечания</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="CreateAppendix">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="custom-file">
                    <input asp-for="FileName" class="form-control custom-file-input" />
                    <label asp-for="FileName" class="custom-file-label">Выберите картинку</label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            @section Scripts {
                <script>
                    $(document).ready(function () {
                        $('.custom-file-input').on("change", function () {
                            var fileName = $(this).val().split("\\").pop();
                            $(this).next('.custom-file-label').html(fileName);
                        });
                    });
                </script>
            }

        </form>
    </div>
</div>

<div>
    <a asp-action="TaskForModule" asp-route-id="@ViewBag.Id">Назад к списку</a>
</div>

